# Large data files
QRT Data Challenge/dataset/
QRT Data Challenge/outputs/
IMC Prosperity/Round 3/data
IMC Prosperity/Round 3/diagnosis
IMC Prosperity/Round 4/data
IMC Prosperity/Round 4/diagnosis

IMC Prosperity/Round 5/data
IMC Prosperity/Round 5/output
IMC Prosperity/Round 5/diagnosis